* {
    box-sizing: border-box;
}

.container {
    margin: 50px auto;
    width: 1000px;
    font-family: 'Roboto', sans-serif;
}

.progress {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 30px;
    max-width: 100%;
}

.progress::before {
    content: '';
    height: 5px;
    width: 100%;
    background-color: rgb(179, 177, 177);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.progress-bar {
    height: 5px;
    width: 0;
    background-color: rgb(113, 113, 253);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.step {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    border: 4px solid rgb(179, 177, 177);
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.4;
}

.step.active {
    color: rgb(113, 113, 253);
    border-color: rgb(113, 113, 253);
    background-color: #fff;
}

.buttons {
    width: 170px;
    margin: 30px auto;
}

.button {
    border: none;
    width: 80px;
    height: 40px;
    background-color: rgb(113, 113, 253);
    border-radius: 5px;
}

.button[disabled] {
    background-color: rgb(179, 177, 177);
    color: #000;
}